@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot');
    src: url('yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.woff') format('woff'),
    url('yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
    url('yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz Bold';
    src: url('yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.eot');
    src: url('yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.woff') format('woff'),
    url('yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.ttf') format('truetype'),
    url('yanone-kaffeesatz/yanonekaffeesatz-bold-webfont.svg#YanoneKaffeesatzBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
